.account-container{
    display: flex;
}

.image-account-container{
    background-image: url("../Images/Account\ Details\ Page.jpg");
    background-size: 100% 100%;
    width: 125vh;
    height: 90vh;
}

.text-account-container{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.account-container img{
    height: 60px;
    padding: 20px;
}

.account-container h2{
    color: gold;
    padding-left: 20px;
}