.signup-Container {
  display: flex;
}
.image-signup-container {
  background-image: url("../Images/Register.jpg");
  background-size: 100% 100%;
  width: 120vh;
  height: 90vh;
}
.signUp-text input {
  border: 1px solid rgb(131, 140, 239);
  padding: 1vw 1vw;
  border-radius: 10px;
  width: 400px;
  display: flex;
  margin: 5px;
  margin-left: 20px;
}
.signUp-text button {
  border: 1px solid rgb(131, 140, 239);
  padding: 0.8vw 1vw;
  border-radius: 10px;
  margin: 5px;
  margin-left: 20px;
}
.signUp-text button:hover {
  background-color: #a4a4db;
}
.signUp-text {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.signUp-text img {
  height: 60px;
  padding: 10px;
}
.signUp-text label{
    padding:20px
}